*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*font-family: 'Bebas Neue', cursive;
font-family: 'Work Sans', sans-serif;
font-family: 'Ms Madi', cursive;*/

.main-header{
    font-family: 'Bebas Neue', cursive;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header ul{
    display: flex;
    gap: 24px;
    list-style: none;
}

.main-header ul a {
    font-size: 25px;
    color:#260174;
    text-decoration: none;
}

.banner{
    background-image: url(../img/taylor-swift.jpg);
    height: 800px;
}

.banner img {
    width: 100%;
}

.text-banner{
    font-size: 30px;
    font-family: 'Ms Madi', cursive;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
