*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*font-family: 'Bebas Neue', cursive;
font-family: 'Work Sans', sans-serif;
font-family: 'Ms Madi', cursive;*/

.main-header{
    font-family: 'Bebas Neue', cursive;
    background-color: white;
    padding: 15px 61px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header ul{
    display: flex;
    gap: 24px;
    list-style: none;
}

.main-header ul a {
    font-size: 25px;
    color:#260174;
    text-decoration: none;
}

.banner{
    background-image: url(../img/gif-taylor-show.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.text-banner{
    font-size: 30px;
    font-family: 'Ms Madi', cursive;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-banner button{
    background: rgba(95, 4, 91, 0.164);
    color: white;
    font-size: 17px;
    width: 322px;
    height: 71px;
    border-radius: 12px;
}

h2{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 50px;
}

.main-section{
    font-family: 'Bebas Neue', cursive;
    margin: 37px 80px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F4F4F4;
    border-radius: 12px;
    padding: 25px 32px;
}

footer{
    height: 365px;
}

.inicial-msg{
    color: white;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    padding: 80px;
    background-color: #171717;
}

.final-msg{
    color: white;
    font-size: 17px;
    font-family: 'Bebas Neue', cursive;
    padding: 80px;
    background-color: #171717;
    display: flex;
    justify-content:end;
    flex-direction: column;
    align-items: center;
}
